.bookmarkCard {
	background-color: var(--clear-bg-color);
	padding: 20px;
	color: #ffffff;
	box-shadow: var(--box-shadow);
}

.bookmarkCard-fav > h2 {
	margin: 0;
	padding: 0;
}

.bookmarkCard-temp {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.wind-humidity-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

/* .bookmarkCard-table {
	width: 90%;
	background-color: rgba(255, 255, 255, 0.313);
	backdrop-filter: blur(10px);
	padding: 20px;
	border-radius: 15px;
} */
