.section-heading {
	text-shadow: 0px 0px 10px #000000;
	margin-bottom: 20px;
}

.box {
	margin-bottom: 50px;
}

.icons {
	width: 70px;
	height: auto;
	margin-bottom: 20px;
}

.flex {
	display: flex;
}

.required-thing {
	flex-direction: column;
	align-items: center;
	transition: all 0.5s;
	min-width: 144px;
	background-color: var(--clear-bg-color);
	padding: 50px;
	height: 20%;
	box-shadow: var(--box-shadow);
	backdrop-filter: var(--blur-filter);
}

.required-thing:hover {
	transform: scale(1.1);
	background-color: var(--clear-bg-color-hover);
}

.required-things-box {
	justify-content: space-evenly;
	margin: 30px auto;
	border-radius: 20px;
	border: 2px black;
	color: aliceblue;
}

@media (max-width: 738px) {
	.required-things-box {
		flex-direction: column;
		align-items: center;
	}

	.required-thing {
		margin: 30px auto;
	}

	.required-thing:last-child {
		margin-bottom: 100px;
	}
}
