* {
	margin: 0;
	padding: 0;
}

.icon {
	cursor: pointer;
}

.weatherCards {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	margin-bottom: 50px;
}

.weatherCard {
	background-color: var(--clear-bg-color);
	padding: 20px;
	width: 500px;
	cursor: pointer;
	box-shadow: var(--box-shadow);
	backdrop-filter: var(--blur-filter);
	transition: all 0.5s;
}

.weatherCard:hover {
	background: var(--clear-bg-color-hover);
}

.weatherCard.active {
	background: var(--clear-bg-color-hover);
}

.weatherCard > div {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.weatherCard > div:last-child {
	margin-top: 10px;
}
