footer {
	background-color: var(--clear-bg-color);
	backdrop-filter: var(--blur-filter);
	width: 100vw;
}

.content {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 20px;
}

.footer-logo {
	width: 100px;
	height: auto;
}
