* {
	margin: 0px;
	padding: 0px;
}
h4,
h5,
h3 {
	padding: 2px;
}
.container {
	display: flex;
	justify-content: center;
}
.card {
	background-color: white;
	width: 40%;
	box-sizing: border-box;
	border-radius: 5px;
	margin-left: 10px;
	color: black;
	display: flex;
	padding: 10px;
	flex-direction: column;
	margin: 20px 10px;
}
.card > div:last-child {
	display: grid;
	grid-template-columns: auto auto;
	row-gap: 5%;
	grid-template-rows: auto auto;
	margin-top: 10px;
}

.card > div:first-child {
	display: flex;
	justify-content: space-between;
	margin: 0 20px;
}

.card > div:last-child > div:first-child > div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.card > div:last-child > div:first-child {
	border-right: 2px solid #133667;
	height: fit-content;
}

.card > div:last-child > div:last-child {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	row-gap: 10px;
	align-items: center;
}

@media screen and (max-width: 800px) {
	.card {
		width: 90%;
	}
	.card > div:last-child > div:first-child {
		border-right: none;
	}
	.card > div:last-child {
		grid-template-columns: auto;
		grid-template-rows: auto;
	}
}
