* {
	margin: 0px;
	padding: 0px;
}

h4,
h5,
h3 {
	padding: 2px;
}

.container {
	width: 50%;
	z-index: -1;
}

.card {
	background-color: var(--clear-bg-color);
	box-sizing: border-box;
	color: var(--white);
	display: flex;
	padding: 30px;
	flex-direction: column;
	margin: 20px 20px;
	box-shadow: var(--box-shadow);
	backdrop-filter: var(--blur-filter);
	transition: all 0.5s;
}

.card:hover {
	transform: scale(1.1);
	background: var(--clear-bg-color-hover);
}

.card > div:last-child {
	display: grid;
	grid-template-columns: auto auto;
	row-gap: 5%;
	grid-template-rows: auto auto;
	margin-top: 10px;
}

.card > div:first-child {
	display: flex;
	justify-content: space-between;
	margin: 0 20px;
}

.card > div:last-child > div:first-child > div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.card > div:last-child > div:first-child {
	border-right: 2px solid #ffffff;
	height: fit-content;
}

.card > div:last-child > div:last-child {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	row-gap: 10px;
	align-items: center;
}

@media screen and (max-width: 800px) {
	.card {
		width: 90%;
	}

	.container {
		display: flex;
		justify-content: center;
		align-content: center;
		width: 90%;
		margin: 20px 0;
	}

	.card > div:last-child > div:first-child {
		border-right: none;
	}

	.card > div:last-child {
		grid-template-columns: auto;
		grid-template-rows: auto;
	}
}
