.weatherCards {
	display: flex;
}
.weatherCard {
	flex: 1 1 auto;
	padding-left: 10px;
	padding-right: 10px;
	width: 20%;
	background-color: white;
	margin: 10px;
	height: 20%;
	color: black;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.weatherCard:hover {
	background: linear-gradient(#133667, #0d9de3);
	color: white;
}
.weatherCard.active {
	background: linear-gradient(#133667, #0d9de3);
	color: white;
}

.weatherCard > div {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
p:first-child {
	font-weight: 500;
}
