:root {
	--clear-bg-color: rgba(0, 0, 0, 0.1);
	--clear-bg-color-hover: rgba(0, 0, 0, 0.5);
	--box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
	--blur-filter: blur(5.5px);
}

* {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	margin: 0;
	padding: 0;
}

body {
	color: #ffffff;
	text-align: center;
	background-color: #133667;
	overflow-x: hidden;
}

input {
	padding: 10px;
	border-radius: 4px;
	border: 10px;
	width: 200px;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.2rem;
}

h5 {
	font-size: 1rem;
}

#loader {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#location-label {
	margin-top: 50px;
}

.main-div__container {
	padding-top: 180px;
	width: 80%;
	margin: 0 auto;
}

#mapAndWeathercard {
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 800px) {
	#mapAndWeathercard {
		flex-direction: column;
	}
}

video {
	object-fit: cover;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -2;
}

.suggested-section {
	margin-top: 50px;
}
