body {
	background-color: #133667;
	color: white;
	text-align: center;
}

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
	margin-top: 20px;
}

input {
	padding: 10px;
	border-radius: 4px;
	border: 10px;
	width: 200px;
}

#loader {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#mapAndWeathercard {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 800px) {
	#mapAndWeathercard {
		flex-direction: column;
	}
}
