:root {
	--clear-bg-color: rgba(0, 0, 0, 0.1);
	--clear-bg-color-hover: rgba(0, 0, 0, 0.5);
	--box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
	--blur-filter: blur(5.5px);
	--text-color: #ffffff;
}

* {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	margin: 0;
	padding: 0;
}

body {
	color: white;
	text-align: center;
	background-color: #133667;
}

input {
	padding: 10px;
	border-radius: 4px;
	border: 10px;
	width: 200px;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.2rem;
}

h5 {
	font-size: 1rem;
}

#loader {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.main-div__container {
	padding-top: 180px;
	width: 80%;
	margin: 0 auto;
}

#mapAndWeathercard {
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 800px) {
	#mapAndWeathercard {
		flex-direction: column;
	}
}

video {
	object-fit: cover;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -2;
}

/* #rainy {
	background-image: url('https://wallpaperstock.net/rainy-day-wallpapers_53815_2560x1440.jpg');
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.9;
	background-attachment: fixed;
}

#cloudy {
	background-image: url('https://i.pinimg.com/originals/cb/6d/2c/cb6d2c974f71580b964c1f931e8b2aa3.jpg');
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.9;
	background-attachment: fixed;
}

#snowy {
	background-image: url('https://i.pinimg.com/originals/0f/93/ec/0f93ec67785fa42d39f7bdd755294007.jpg');
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.9;
	background-attachment: fixed;
}

#clear {
	background-image: url('https://images.unsplash.com/photo-1622278647429-71bc97e904e8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80');
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.9;
	background-attachment: fixed;
}

#haze {
	background-image: url('https://64.media.tumblr.com/4caefa0f45c9be4cb116af0370847f6d/04c053a20572008c-15/s2048x3072/5d5bf2fb328aac4fad2c434730438dde4fe5e959.jpg');
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.9;
	background-attachment: fixed;
}

#default {
	background-color: #133667;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.9;
} */

.suggested-section {
	margin-top: 50px;
}

h3 {
	color: #133667;
}
